<!DOCTYPE html>
<html ng-app="myfirstApp">
<head>
    <meta charset="utf-8">
    <title>hola controller</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="controller.js"></script>
</head>
<body ng-controller="firstController">
    <input type="text" ng-model="newPost.title">
    <br>
    <textarea ng-model="newPost.body"></textarea>
    <button ng-click="addPost()">Enviar</button>
    <ul>
        <li ng-repeat="post in posts">
            <h2>{{post.id}} + {{post.title}}</h2>
            <p>
                {{post.body}}
            </p>
        </li>
    </ul>
</body>
</html>
